<div class="container-fluid">
  <nav class='navbar navbar-default' role='navigation'>
    <a class="navbar-brand" href="#">DUCKSTERS</a>
    <ul class='nav navbar-nav'>
      <!-- <li class="navtext">{{#link-to 'questions'}}Puppy Love{{/link-to}}</li> -->
      <li class="navtext">{{#link-to 'questions'}}Home{{/link-to}}</li>
      <li class="navtext">{{#link-to 'questions'}}Categories{{/link-to}}</li>
      <li class="navtext">{{#link-to 'questions'}}Join{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
