<form>
  <div class="form-group">
    <label for="text">Enter An Answer</label>
    {{input id="text" value=text class="form-control"}}
  </div>
  <button class="btn btn-success" {{action "save"}}>Submit New Answer</button>
</form>
