<form>
  <div class="form-group">
    <label for="text">Answer To The Joke</label>
    {{input id="text" value=text class="form-control"}}
  </div>
  <button class="btn btn-default" {{action "save"}}>Submit</button>
</form>
