<div class="container-fluid">
  <div class="jumbotron">
    <h1>You Quack Me Up!!!</h1>
    <p>Here is our giant list of jokes, puns, and riddles for children.
      Check out each joke category to find the type of joke, pun, or riddle you
      are looking for. We try to make sure every joke is funny, silly, and full
      of laughs, but also clean. If you find a joke that isn't clean or is
      inappropriate for children, please let us know.</p>
  </div>

  <br>
      <ul class="question_links">
        {{#each question in model}}

          <li>{{#link-to "question" question.id}}{{question.body}} by {{question.name}}{{/link-to}}</li>

        {{/each}}
      </ul>


  <hr>
  <br>
  <div class="row">

      <p>{{#link-to "new-question" classNames="btn btn-default newJoke"}}Submit A New Joke{{/link-to}}</p>

    <div class="col-md-8 col-md-offset-4">

      {{outlet "new-question"}}
    </div>
  </div>
</div>
